@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


/* Generic design */
body {
  background-color: #121C1E;
  /* background-image: url(/images/background.jpg); */
  background: linear-gradient(335deg,
  rgba(0, 0, 0, 0.8) 20%,
  rgba(0, 0, 0, 0.3) 60%),
  url(https://daddyjanno.github.io/profile/images/background.jpg);
  color: #001e25;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}
h1, h2 {
  color: #000E11;
  font-family: 'Poppins', serif ;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}
h2 {
  font-size: 32px;
  font-weight: lighter;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #000E11;
  border: 1px solid transparent;
}
a:hover {
  color: #DDE5E9;
}



/* Specific design */

#introduction p {
  margin: 50px 0px;
}
.img-circle {
  border-radius: 50%;
}
#profile-picture {
  border: 5px solid #DDE5E9;
  height: auto;
  width: auto;
  max-width: 110px;
  max-height: 110px;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.card-white {
  width: auto;
  height: auto;
  background-color: rgba(240,240,240,.4);
  padding: 32px;
  margin: 32px;
  box-shadow: 0 10px 30px rgba(255,255,255,.15);
  border-radius: 4px;
  border: 0px solid lightgrey;
}
.btn-red {
  background-color: #E60E05;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-red:hover {
  background-color: white;
  color: #E60E05;
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid #E60E05;
}
#footer a {
  font-size: 54px;
}

@media (max-width: 3440px) {
  /* Pour un écran < 3440px, cette classe CSS s'applique */
  .container {
    width: 2000px;
  }
}
@media (max-width: 1920px) {
  /* Pour un écran < 1920px, cette classe CSS s'applique */
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  /* Pour un écran < 1200px, cette classe CSS s'applique */
  .container {
    width: 900px;
  }
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
